* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: #fff;
    background: #674baf url(/images/bg-mobile.svg) no-repeat;
    background-size: contain;
    height: 100vh;
}

.container {
    width: 80%;
    /* height: 100vh; */
    margin: 0 auto;
    padding: 2em 0;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    row-gap: 3em;
}

header {
    display: flex;
    align-items: center;
}

header img {
    max-width: 140px;
}

.hero-section img {
    max-width: 100%;
    margin-bottom: 3.5em;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.75em;
}

.hero-text {
    text-align: center;
    margin-bottom: 1.75em;
    color: rgba(255, 255, 255, 0.8);
}

.register-btn {
    font-family: "Open Sans", sans-serif;
    color: #674baf;
    background-color: #fff;
    border: none;
    border-radius: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    padding: 0.75em 6em;
}

.register-btn:hover {
    color: #fff;
    background-color: #e882e8;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 0.35em;
    margin: 0 0.25em;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover {
    color: #e882e8;
    border: 1px solid #e882e8;
}

@media (min-width: 950px) {
    body {
        background: #674baf url(/images/bg-desktop.svg) no-repeat;
        /* background-size: cover; */
    }

    .container {
        width: 90%;
        row-gap: 0;
    }

    header img {
        max-width: 220px;
        margin-bottom: 4em;
    }

    .hero-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 48px;
    }

    .hero-title {
        text-align: left;
        font-size: ;
    }

    .hero-text {
        text-align: left;
    }

    footer {
        justify-content: flex-end;
    }
}
